*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {

	font-family: 'Raleway', sans-serif;
	background-color: #545454;
	color: #ffffff;
	display: grid;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	padding-bottom: 16px;
}

i {
	font-size: 24px;
}

/* ======================== */
.footer {

	font-family: 'Raleway', sans-serif;
	padding-block: 17px;
    padding-bottom: 9px;
	color: #000000;
	/* Margin-top: auto; for demo use only */
	margin-top: auto;
}

.footer__container {
	max-width: 1160px;
	margin: auto;
	padding: 0 15px;
}

.footer__top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	row-gap: 20px;
}

.footer__title {
	font-size: 20px;
	color: #81cdc3;
	font-weight: 500;
	
	margin-bottom: 20px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__list-link {
	transition: color 0.25s;
}

.footer__list-link:hover {
	color: #fff;
}

.footer__divider {
	margin-block: 25px;
	border: none;
	border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.footer__list--bottom {
	flex-direction: row;
}