
body {
    background: linear-gradient(#3f4797, rgb(21, 205, 202)) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: max-content !important;
    
}

.Maincontent {
    padding: 20px;
}

.headingnews {
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

hr {
    color: #17171e !important;
    opacity: 1 !important;
}

.card1,
.card2 {
    max-width: 300px !important;
    height: 100%;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.1);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    max-height: 500px;
}

.card1 {
    width: 100%;
    margin: 10px;
    padding: 0px;
}

.card2 {
    width: calc(50% - 20px);
    margin: 10px;
}

.image-container {
    position: relative;
}

.image-container2 img {
    border-radius: 12px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.hover-text {
    font-weight: bold;
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.image-container:hover .hover-text {
    opacity: 1;
}



.main2 {
    margin-top: 30px;
    display: flex;
}

.a1,
.b1 {
    padding: 20px;
}

.b1 {
    display: flex;
}

.a1 {
    width: auto;
    margin-right: -130px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    align-content: flex-start;
}

.v1 {
    border-left: 2px solid rgba(23, 23, 23, 0.2);
    height: 100%;
    width: inherit;
}

.cardimage {
    max-height: 350px !important;
}

.image-container2 {
    width: 78%;
}

.a1card {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.a1card:hover {
    filter: brightness(1.13);
}

.texta1card {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    color: lightgray;
    outline: 1px solid #17171e;
    margin-top: 4px;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.texta1card:hover {
    font-size: 16.1px;
    text-align: center;
    color: whitesmoke;
    outline: 1px solid #17171e;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 11px;


}

@media (max-width: 992px) {
    .texta1card {
        font-size: 12px;
    }

    .main2 {
        flex-direction: column;
        justify-self: center;
    }

    .cardimage {
        width: 300px;
    }

    .a1 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hover-text {
        font-size: 8.4px;
        font-weight: 200px;
        margin-bottom: 0px;
    }

    .image-container2 {
        border: none;
        width: 100%;
    }

    .image-container img {
        border-radius: 12px;
        border: none;
        height: 230px;
    }

    .a1card {
        max-width: 100%;
        height: 120px;
        outline: 1px solid black;
        border-radius: 17px;
    }

    .main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: center;
        gap: 0px;
    }
}

.v1 {
    justify-content: center;
    align-items: start;
}

.v1childimg {
    height: 200px;
}

.v1child {
    display: flex;
    align-items: center;
    margin-left: 53px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-top: 2px solid #331d13;
    border-bottom: 2px solid #331d13;
    transition: all 0.29s ease;
}

.v1child:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.v1childimg {
    height: 170px;
    width: auto;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.v1child p {
    margin: 0;
    padding: 0;
    flex: 1;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

.v1child a {
    text-decoration: none;
    color: beige;
    transition: all 0.3s ease;
}

.v1child a:hover {
    color: darkgoldenrod;
}

.hrv1 {
    margin-left: 53px;
    width: 97%;
}

@keyframes snakeBorderAnimation {

    0% {
        transition: 0.3s;
        border-radius: 0%;
    }

    33% {
        transition: 0.3s;
        border-radius: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    66% {
        transition: 0.3s;
        border-radius: 20%;
    }

    99% {
        transition: 0.3s;
        border-radius: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}


@keyframes colorChangeAnimation {

    0%,
    100% {
        color: #F3EAD3;
    }

    50% {
        color: whitesmoke;
    }
}

.headingmain {
    display: flex;
    justify-content: center;
}

.headingnews {
    text-align: center;
    padding: 20px;
    border: 2px solid skyblue;
    width: calc(fit-content() + 20px);
    animation: snakeBorderAnimation 6s infinite;
    transform-origin: center;
}

.headingnews2 {
    font-size: 24px;
    animation: colorChangeAnimation 6s infinite;
    color: Orange;
    font-family: 'Satoshi', sans-serif !important;
    margin: 0;
    font-family: sans-serif;
}
.timenews {
    width: fit-content;
    align-self: end;
}

.btnn2 {


    width: fit-content;
    border: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;

}

.btnn {
    color: whitesmoke !important;
    background-color: #3f4797;
    width: fit-content;
    border: 1px solid #17171e;
    margin: 0px;
    border-radius: 3px;
    padding: 9px;
    transition: all 0.3s ease;
}

.btnn:hover {
    color: azure;
    border-radius: 7px;
    background-color: #4b59b9;
}

.texta1card-a {
    text-decoration: none;
}